@model API.Models.ModelViews.PlaylistView
@{
    ViewBag.Title = "PlaylistDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container" style="min-height:500px;background-color:white;">
    <h2>Playlist Detail: @Model.PlaylistName</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Playlist</a></li>
        <li><a data-toggle="tab" href="#menu1">Music</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <section class="panel" style="margin-top:55px;">
                <header class="panel-heading">
                    Edit Playlist
                </header>
                <form action="@Url.Action("UpdatePlaylist")" method="POST" enctype="multipart/form-data">
                    <div class="panel-body">
                        <div class="position-center">
                            <div class="form-group">
                                <label for="">Playlist Name:</label>
                                <input type="hidden" value="@Model.ID" name="ID" />
                                <input type="hidden" value="@Model.UserID" name="UserID" />
                                <input type="text" class="form-control" name="PlaylistName" maxlength="200" value="@Model.PlaylistName" required>
                            </div>
                            <div class="form-group">
                                <label for="">Category:</label>
                                <select name="CateID">
                                    @foreach (var item in ((IEnumerable<API.Models.ModelViews.CategoryView>)TempData["cate"]))
                                    {
                                        <option value="@item.ID">@item.CateName</option>
                                    }

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Description:</label><br />
                                <textarea name="PlaylistDescription" style="height:200px;width:600px;">@Model.PlaylistDescription</textarea>
                            </div>
                            <div class="form-group">
                                <label for="">Image:</label><br />
                                <div id="frameImg">
                                    <img src="@Url.Content("~/Resource/ImagesMusic/")@Model.PlaylistImage" id="showImg" style="width:300px;height:250px;" />
                                </div>
                                <input type="file" name="imgPlaylist" value="@Model.PlaylistImage" id="selectImg" />
                            </div>
                            <button type="submit" name="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="table-agile-info">
                <div class="panel panel-default">
                    <section class="panel" style="margin-top:55px;">
                        <header class="panel-heading">
                            Add Song for Playlist
                        </header>
                        <form action="@Url.Action("AddMusicPlaylist")" method="POST" enctype="multipart/form-data">
                            <div class="panel-body">
                                <div class="position-center">
                                    <div class="form-group">
                                        <input type="hidden" value="@Model.ID" name="PlaylistID" />
                                    </div>
                                    <div class="form-group">
                                        <label for="">Music:</label>
                                        <select name="MusicID">
                                            @foreach (var item in ((IEnumerable<API.Models.ModelViews.MusicView>)TempData["music"]))
                                            {
                                                <option value="@item.ID">@item.MusicName</option>
                                            }
                                        </select>
                                    </div>
                                    <button type="submit" name="submit" class="btn btn-info">Submit</button>
                                </div>
                            </div>
                        </form>
                    </section>
                    <div class="panel-heading">
                        Song List
                    </div>
                    <div class="table-responsive" style="height:500px;overflow:auto;">

                        <table class="table table-striped b-t b-light">
                            <thead>
                                <tr>
                                    <th>Music Name</th>
                                    <th>Download Allowed?</th>
                                    <th>View</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody style="word-break: break-all;">
                                @foreach (var item in ((IEnumerable<API.Models.ModelViews.PlaylistMusicView>)TempData["pm"]))
                                {
                                    <tr>
                                        <td>@item.MusicName</td>
                                        <td>@(item.MusicDownloadAllowed == true ? "Yes" : "No")</td>
                                        <td>@item.MusicView</td>
                                        <td>
                                            <a href="@Url.Action("DelPM",new { id=item.ID,idPL=Model.ID})" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script>
        $(function () {
            var msg1 = '@TempData["success"]'
            var msg2='@TempData["error"]'
            if (msg1 != '') {
                alertify.success(msg1);
            }
            if (msg2 != '') {
                alertify.error(msg2);
            }
            $('#selectImg').change(function (event) {
                var tmppath = URL.createObjectURL(event.target.files[0]);
                $('#showImg').fadeIn("fast").attr("src", tmppath);
            })
        });


    </script>



}

