@model API.Models.ModelViews.UserView
@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container" style="min-height:500px;background-color:white;">
    <h2>User Detail: @Model.UserName</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Infomation</a></li>
        <li><a data-toggle="tab" href="#menu1">Playlist</a></li>
        <li><a data-toggle="tab" href="#menu2">Upload</a></li>
        <li><a data-toggle="tab" href="#menu3">Order</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <section class="panel">
                    <div class="panel-body">
                        <div class="position-center">
                            <div class="form-group">
                                <span>Email: @Model.UserEmail</span>
                            </div>
                            <div class="form-group">
                                <span>Gender: @(Model.UserGender == null ? "Đang cập nhật" : Model.UserGender == true ? "Nữ" : "Nam")</span>
                            </div>
                            <div class="form-group">
                                <span>DOB: @(Model.UserDOB?.ToString("dd/MM/yyyy") ?? "Chưa cập nhật")</span>
                            </div>
                            <div class="form-group">
                                <label for="">Description: </label>
                                <span>@Model.UserDescription</span>
                            </div>
                            <div class="form-group">
                                <span>Ngày hết hạn VIP: @Model.DayVipEnd</span>
                            </div>
                            <div class="form-group">
                                <label for="">Image:</label><br />
                                <div id="frameImg">
                                    <img src="@Url.Content("~/Resource/ImagesUser/")@Model.UserImage" id="showImg" style="width:300px;height:250px;" />
                                </div>
                            </div>
                        </div>
            </section>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="table-agile-info">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Playlist List
                    </div>
                    <div class="table-responsive" style="height:500px;overflow:auto;">

                        <table class="table table-striped b-t b-light">
                            <thead>
                                <tr>
                                    <th>Playlist Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody style="word-break: break-all;">
                                @foreach (var item in ((IEnumerable<API.Models.ModelViews.PlaylistView>)TempData["pl"]))
                                {
                                    <tr>
                                        <td>@item.PlaylistName</td>
                                        <td>
                                            <a href="@Url.Action("PlaylistDetailUser",new { id=item.ID})" class="active" ui-toggle-class="">
                                                <i class="fas fa-info-circle text-success text-active"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div style="display:flex">
                <div style="width:48%;margin-right:4%;">
                    <div class="table-agile-info">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Song Upload
                            </div>
                            <div class="table-responsive" style="height:500px;overflow:auto;">
                                <table class="table table-striped b-t b-light">
                                    <thead>
                                        <tr>
                                            <th>Song Name</th>
                                            <th>View</th>
                                            <th>Day Create Song</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody style="word-break: break-all;">
                                        @foreach (var item in ((IEnumerable<API.Models.ModelViews.MusicView>)TempData["song"]))
                                        {
                                            <tr>
                                                <td>@item.MusicName</td>
                                                <td>@item.View</td>
                                                <td>@item.MusicDayCreate</td>
                                                <td>
                                                    <a href="@Url.Action("MusicDetailUser",new { id=item.ID})" class="active" ui-toggle-class="">
                                                        <i class="fas fa-info-circle text-success text-active"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width:48%;">
                    <div class="table-agile-info">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Video Upload
                            </div>
                            <div class="table-responsive" style="height:500px;overflow:auto;">

                                <table class="table table-striped b-t b-light">
                                    <thead>
                                        <tr>
                                            <th>Song Name</th>
                                            <th>View</th>
                                            <th>Day Create Song</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody style="word-break: break-all;">
                                        @foreach (var item in ((IEnumerable<API.Models.ModelViews.MusicView>)TempData["mv"]))
                                        {
                                        <tr>
                                            <td>@item.MusicName</td>
                                            <td>@item.View</td>
                                            <td>@item.MusicDayCreate</td>
                                            <td>
                                                <a href="@Url.Action("MusicDetailUser",new { id=item.ID})" class="active" ui-toggle-class="">
                                                    <i class="fas fa-info-circle text-success text-active"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="menu3" class="tab-pane fade">
            <div class="table-agile-info">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Video Upload
                    </div>
                    <div class="table-responsive" style="height:500px;overflow:auto;">

                        <table class="table table-striped b-t b-light">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Gói VIP</th>
                                    <th>Giá</th>
                                    <th>Cổng thanh toán</th>
                                    <th>Ngày mua</th>
                                </tr>
                            </thead>
                            <tbody style="word-break: break-all;">
                                @foreach (var item in ((IEnumerable<API.Models.ModelViews.OrderView>)TempData["ord"]))
                                {
                                    int index = 1;
                                    <tr>
                                        <td>@index</td>
                                        <td>@item.PVipName</td>
                                        <td>@item.OrdPrice</td>
                                        <td>@item.PaymentName</td>
                                        <td>@item.OrdDayCreate</td>
                                    </tr>
                                    index++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

