
@{
    ViewBag.Title = "ListPlaylistByIDCate";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    IEnumerable<API.Models.ModelViews.PlaylistView> ls = ViewBag.plist;
}

<div class="gridMusic">
    <div class="gridLeft">
        <label for="" class="lblMusic">Chủ đề: @ViewBag.namecate</label>
        <div class="listMusic">
            @foreach (var item in ls)
            {
                <div class="itemMusic">
                    <a href="@Url.Action("PlayPlist",new { id=item.ID})" style="font-size: 18px;"><img src="@Url.Content("~/Resource/ImagesMusic/")@item.PlaylistImage" alt="" class="imgMusic">@item.PlaylistName</a>
                    <div class="nameSinger">
                        <a href="">@item.UserName</a>
                    </div>
                </div>
            }


        </div>
    </div>
    <div class="gridRight">
    </div>
</div>

