@model API.Models.ModelViews.UserView
@{
    ViewBag.Title = "PersonalUser";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    IEnumerable<API.Models.ModelViews.CategoryView> lsCate = ViewBag.cate;
    IEnumerable<API.Models.ModelViews.PlaylistView> lsPlist = ViewBag.pl;
    IEnumerable<API.Models.ModelViews.MusicView> lsSong = ViewBag.song;
    IEnumerable<API.Models.ModelViews.MusicView> lsMv = ViewBag.mv;
}
<div id="info">
    <div>
        <img src="@Url.Content("~/Resource/ImagesUser/")@Model.UserImage" alt="">
    </div>
    <div>
        <span>
            @if (Model.UserVIP == true)
            {<i class="fa fa-crown"></i>} @Model.UserName
        </span><br>
        <span>Sinh ngày: @(Model.UserDOB?.ToString("dd/MM/yyyy") ?? "Chưa cập nhật")</span><br>
        <span>Giới tính: @(Model.UserGender == null ? "Đang cập nhật" : Model.UserGender == true ? "Nữ" : "Nam")</span><br>
        <span>Lời giới thiệu:</span>
        <span>
            @Model.UserDescription
        </span>
    </div>
</div>
<div id="menuSearch" style="margin-top: -90px;">
    <div class="hoverSearch" data-id="1">Playlist</div>
    @*<div data-id="2">Video</div>*@
    <div data-id="3">Tui Upload</div>
</div>
<div id="songSearch" class="musicSearch">
    @if (Model.ID == Convert.ToInt32(Session["UserID"]))
    {
        <a data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
           class="btn btn-primary" aria-controls="multiCollapseExample1"
           style="margin-left: 40px; margin-top: 10px;">Tạo Playlist</a>
    }

    <div class="collapse multi-collapse" id="multiCollapseExample1">
        <form action="@Url.Action("CreatePlaylistUser")" method="post" enctype="multipart/form-data">
            <div class="card card-body" style="width: 70%;margin-top: 20px;margin-left: 40px;">
                <div class="form-group">
                    <label for="" style="margin-right: 12px;">Tên Playlist: </label>
                    <input type="hidden" name="UserID" value="@Model.ID" />
                    <input type="text" name="PlaylistName" id="" style="width: 40%;">
                </div>
                <div class="form-group">
                    <label for="">Chọn Thể loại: </label>
                    <select name="CateID" id="" style="width: 38%;">
                        @foreach (var item in lsCate)
                        {
                            <option value="" disabled>@item.CateName</option>
                            foreach (var sub in item.ListSubCate)
                            {
                                <option value="@sub.ID">@sub.CateName</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="" style="margin-right: 50px;">Mô tả: </label>
                    <textarea name="PlaylistDescription" id="" maxlength="1000" style="width: 38%;"></textarea>
                </div>
                <div class="maincrop-img" style="margin-left: 95px;margin-bottom: 10px;">
                    <div class="image-crp-int">
                        <div class="img-preview img-preview-custom">
                            <img src="@Url.Content("~/Content/Client/")img/avt.png" id="upImage" style="width: 300px; height: 255px;">
                        </div>
                    </div>
                    <div class="image-crp-img">
                        <div class="btn-group images-cropper-pro">
                            <label title="Upload image file" for="inputImage"
                                   class="btn btn-primary img-cropper-cp waves-effect">
                                <input type="file" accept="image/*" name="imgMusic" id="inputImage" class="hide">
                                Upload new image
                            </label>
                        </div>
                    </div>
                </div>
                <!--Button-->
                <input type="submit" class="btn btn-info" value="Lưu"
                       style="margin-left: 94px;font-size: 18px;">
            </div>
        </form>
    </div>
    @foreach (var item in lsPlist)
    {
        <div class="itemBxh">
            <img src="@Url.Content("~/Resource/ImagesMusic/")@item.PlaylistImage" alt="">
            <span>
                <a href="@Url.Action("PlayPlist",new {id=item.ID })" style="font-size: 20px;">@item.PlaylistName</a><br>
            </span>
            @if (Model.ID == Convert.ToInt32(Session["UserID"]))
            {
                <span style="left: 265px;">
                    <span><a onclick="DelPlist(@item.ID)"><i class="fas fa-trash-alt"></i> Xóa</a></span>
                    <span><a href=""><i class="fas fa-edit"></i> Chỉnh sửa</a></span>
                </span>
            }

        </div>
    }

</div>
@*<div id="videoSearch" class="musicSearch">
        <div class="itemBxh">
            <img src="img/avt.png" alt="">
            <span>
                <a href="" style="font-size: 20px;">Tên Video</a><br>
                <span style="left: 80px;">
                    <a href="">Ca sĩ 1</a>,
                    <a href="">Ca sĩ 2</a>
                </span>
            </span>
            <span style="left: 265px;">
                <span><i class="fas fa-trash-alt"></i> Xóa</span>
            </span>
        </div>
    </div>*@
<div id="playlistSearch" class="musicSearch">
    <div id="topicBxh">
        <div>
            <div class="activeTopicBxh" data-music="1">Bài hát</div>
            <div data-music="0">Video</div>
        </div>
    </div>
    <div id="songBxh" style="margin-left: 40px;">
        @foreach (var item in lsSong)
        {
            <div class="itemBxh">
                <img src="@Url.Content("~/Resource/ImagesMusic/")@item.MusicImage" alt="">
                <span>
                    <a href="@Url.Action("PlayMusic",new { idMusic=item.ID})" style="font-size: 20px;">@item.MusicName</a>@(item.FileApprove == false ? "(Chờ duyệt)" : "")<br>
                    <span style="left: 80px;">
                        @foreach (var singer in item.ListSinger)
                        {
                            <a href="@Url.Action("TransferPersonalPage",new { id=singer.SingerID})">@singer.SingerName, </a>
                        }
                    </span>
                </span>
                <span style="left: 209px;top: -2px;">
                    <span><i class="fas fa-headphones"></i> @item.View</span>
                    @if (Model.ID == Convert.ToInt32(Session["UserID"]))
                    {
                        <span><a onclick="DelFile(@item.ID)"><i class="far fa-trash-alt"></i> Xóa</a></span>
                    }
                    @if (item.FileApprove == true)
                    {
                        <span class="addPlaylist" style="cursor: pointer;">
                            <i class="fas fa-plus-circle"></i> Thêm
                            vào
                            <ul>
                                @if (Session["UserID"] == null)
                                {
                                    <a href="@Url.Action("Index", "Login")">Mời bạn đăng nhập</a>
                                }
                                else
                                {
                                    if (lsPlist == null)
                                    {
                                        <span>Bạn chưa có playlist nào. <a href="#">TẠO</a></span>
                                    }
                                    else
                                    {
                                        foreach (var p in lsPlist)
                                        {
                                            <li data-idPlist="@p.ID" data-idMusic="@item.ID">@p.PlaylistName</li>
                                        }
                                    }

                                }
                            </ul>
                        </span>
                    }
            </div>
        }


        <div id="mvBxh" style="margin-left: 40px;display: none;">
            @foreach (var item in lsMv)
            {
                <div class="itemBxh">
                    <img src="@Url.Content("~/Resource/ImagesMusic/")@item.MusicImage" alt="">
                    <span>
                        <a href="@Url.Action("PlayMusic",new { idMusic=item.ID})" style="font-size: 20px;">@item.MusicName</a>@(item.FileApprove == false ? "(Chờ duyệt)" : "")<br>
                        <span style="left: 80px;">
                            @foreach (var singer in item.ListSinger)
                            {
                                <a href="@Url.Action("TransferPersonalPage",new { id=singer.SingerID})">@singer.SingerName, </a>
                            }
                        </span>
                    </span>
                    <span style="left: 209px;top: -2px;">
                        <span><i class="fas fa-headphones"></i> @item.View</span>
                        @if (Model.ID == Convert.ToInt32(Session["UserID"]))
                        {
                            <span><a onclick="DelFile(@item.ID)"><i class="fas fa-trash-alt"></i> Xóa</a></span>
                        }
                    </span>
                </div>
            }

        </div>
    </div>
</div>
@section scripts{
    <script>
        //del playlist
            function DelPlist(id) {
	            alertify.confirm('Delete Playlist', 'Are you sure to delete this playlist?', function () {
	                window.location.href='@Url.Action("DelPlist")/' + id;
	            }, null); //display form yes/no using onclick="" in the a tag
        };
        //del file
        function DelFile(id) {
	            alertify.confirm('Delete Music', 'Are you sure to delete this music?', function () {
	                window.location.href='@Url.Action("DelFile")/' + id;
	            }, null); //display form yes/no using onclick="" in the a tag
        };
        $(document).ready(function () {
            var nameID = "#pageSong";
            var nameActive = "activeSong";
            $('#songSearch').show();
            var msg1 = '@TempData["success"]'
            if (msg1 != '') {
                alertify.success(msg1); //display notify
            }
            var msg2 = '@TempData["error"]'
            if (msg2 != '') {
                alertify.error(msg2); //display notify
            }


            //Click menu
            $('#menuSearch>div').click(function () {
                var id = $(this).attr("data-id");
                $('#menuSearch>div').removeClass("hoverSearch");
                $(this).addClass("hoverSearch");
                $('.musicSearch').hide();
                if (id == "1") {
                    nameID = "#pageSong";
                    nameActive = "activeSong";
                    $('#songSearch').show();
                } else if (id == "2") {
                    nameID = "#pageMV";
                    nameActive = "activeMV";
                    $('#videoSearch').show();
                } else if (id == "3") {
                    nameID = "#pagePlaylist";
                    nameActive = "activePlaylist";
                    $('#playlistSearch').show();
                }
            });

            $('#topicBxh>div>div').click(function () {
                $('#topicBxh>div>div').removeClass("activeTopicBxh");
                $(this).addClass("activeTopicBxh");
                if ($(this).attr("data-music") == "1") {
                    $('#songBxh').css("display", "block");
                    $('#mvBxh').css("display", "none");
                } else {
                    $('#songBxh').css("display", "none");
                    $('#mvBxh').css("display", "block");
                }
            });
            $('#inputImage').change(function (event) {
                var tmppath = URL.createObjectURL(event.target.files[0]);
                $('#upImage').fadeIn("fast").attr("src", tmppath);
            });
            //add music playlist
            $('.addPlaylist li').click(function () {
                var idplist = parseInt($(this).attr("data-idPlist"));
                var idmusic = parseInt($(this).attr("data-idMusic"));
                $.post("/Client/AddMusicPlaylist", { PlaylistID: idplist, MusicID: idmusic }).done(function (res) {
                    var stt = res.status;
                    if (stt == true) {
                        alertify.success("Thêm bài hát vào playlist thành công.");
                    } else {
                        alertify.error("Lỗi khi thêm bài hát vào playlist. Mời thử lại.");
                    }
                });
            });
        });
    </script>
}

